<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主窗口</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
			div{color: white;}
	</style>		
</head>

	

<body background="image/背景.jpg">
		<div align="center">
		<h1  align="center">建设工程监管信息系统</h1>
		<br/>
		<h2><a th:href="@{'/userManage'}">用户管理</a></h2>
		<br/>
		<h2><a th:href="@{'/projectManage'}">工程管理</a></h2>
		<br/>
		<h2><a th:href="@{'/companyManage'}">企业管理</a></h2>
		<br/>
		<h2><a th:href="@{'/bidManage'}">投标管理</a></h2>
		<br/>
		<h2><a th:href="@{'/returnLogin'}">返回登陆界面</a></h2>
		</div>
</body>
 
</html>