<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>工程修改</title>
		<style>
			#userManage{color: white;}
			div{color: white;}
			div{ 
            position: absolute;   
            top: 50%;   
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
   }
		</style>
	</head>
	<body background="image/背景.jpg">
	<div> 
	<h3 align="center">工程修改界面</h3>
	<br/>
	   
	  <form action="/projectUpdate" method="get">                                    
	      当前工程编号：<input name="projectId" type="text" th:value="${a}"/><br/>	
	            
	      请将下列内容修改为你所需要的：<br/>
	        
		 工程名称：       <input name="projectName"       type="text"  th:value="${b}"/><br/>
	        报建申请单位：<input name="applicantUnit"     type="text"  th:value="${c}"/><br/>
	        所有制性质：   <input name="natureOfOwnership" type="text"  th:value="${d}"/><br/>
	        建设单位电话：<input name="unitPhone"         type="text"  th:value="${e}"/><br/>    
	        工程状态：       <input name="projectState"      type="text"  th:value="${f}"/><br/>
	       <p align="center"> 
	      <input value="确认" type="submit"/> 
	      <br/>
	       </p>
	  </form>
      <br/>
       
	    <p align="center">
		<a th:href="@{'/projectManage'}">返回项目管理界面</a>
		</p>
     </div>
	</body>
</html>
