<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<title>用户修改</title>
		<style>
			#userManage{color: white;}
			div{color: white;}
			div{ 
            position: absolute;   
            top: 50%;   
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
               }
		</style>
		
	</head>
	<body background="image/背景.jpg">
	<div> 
	<h3 align="center">用户修改界面</h3>
	<br/>
	   
	   <form action="userUpdate" method="get">                                    
	      当前用户姓名：<input name="name" type="text" th:value="${c}"/>
	    <br/>	         
	      请将下面的部门值修改为你所需要的：<br/>
	   <input name="dept" type="text" th:value="${d}"/>  
	       <p align="center"> 
	      <input value="确认" type="submit" /> 
	      <br/>
	       </p>
	  </form>
      <br/> 
	    <p align="center">
		<a th:href="@{'/userManage'}">返回用户管理界面</a>
		</p>
     </div>
	</body>
</html>
